.button {
	&_blue {
		padding: 10px 10px;
		color: var(--color-blue-400);
		font-weight: 700;
		border: 1px solid var(--color-gray-300);

		transition-property: background, border, color, z-index;
		transition-duration: var(--transition-normal);
		transition-timing-function: ease;

		&:hover:not(.active_blue) {
			background: var(--color-blue-100);
			border: 1px solid var(--color-blue-400);
			z-index: 1;
		}

		&:nth-child(2) {
			transform: translateX(-1px);
		}

		&:nth-child(3) {
			transform: translateX(-2px);
		}

		&:first-child {
			border-bottom-left-radius: var(--border-radius-6);
			border-top-left-radius: var(--border-radius-6);
		}

		&:last-child {
			border-bottom-right-radius: var(--border-radius-6);
			border-top-right-radius: var(--border-radius-6);
		}
	}

	&_orange {
		padding: 5px;

		color: var(--color-white);
		font-size: 16px;
		white-space: pre-line;

		background: var(--color-orange-400);
		border-radius: var(--border-radius-4);
	}
}

.active_blue {
	color: var(--color-white);
	background: var(--color-blue-400);
	border: 1px solid var(--color-blue-400);
	z-index: 2;
}
