:root {
	--color-white: #fff;
	--color-gray-100: #f1f6f9;
	--color-gray-300: #dbdfdf;
	--color-gray-400: #646464;
	--color-blue-100: #eefbff;
	--color-blue-400: #0097f5;
	--color-orange-400: #ff6d00;

	--shadow-logo: 0 20px 16px -12px rgb(107, 130, 171, 0.4);
	--shadow-container: 0 0 6px 2px rgba(82, 110, 131, 0.1);

	--transition-normal: 300ms;

	--filter-width: 250px;

	--border-radius-6: 6px;
	--border-radius-4: 4px;
}
